@model HotelBillingMVC.Models.DiningTable

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/admindashboard.cshtml";
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/templatemo-klassy-cafe.css" rel="stylesheet" />
    <link href="~/css/owl-carousel.css" rel="stylesheet" />
    <link href="~/css/lightbox.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
}

<html>
<head>
    <style>
        /* Set background image */
        body {
            /*background-image: url('../images/maa.jpg');*/ /* Path to your background image */
            background-size: 800px;
            background-position: center;
        }

        h4 {
            text-align: center;
            color: #fb5849;
            font-weight: bold;
            margin-top: 30px;
        }

        /* Center the form vertically and horizontally */
        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2px;
        }

        /* Form container */
        .col-md-4 {
            max-height: 800px;
            /*  background-color: white;*/
            background: linear-gradient(145deg, #ffe6e6, #fff);
            /* Semi-transparent white background */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 50px;
        }

        /* Styles for form elements */
        .form-group {
            margin-bottom: 10px;
            margin-top: 20px;
        }

        .control-label {
            font-weight: bold;
            color: orangered;
        }

        .form-control {
            width: 100%;
            padding: 5px;
            margin-top: 2px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .btn-primary {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            border: none;
            border-radius: 5px;
            background-color: orangered; /* Button background color */
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }

            .btn-primary:hover {
                background-color: red; /* Button background color on hover */
            }

        .form-check-label {
            display: flex;
            align-items: center;
            color: orangered;
            font-weight: bold;
            margin-top: -25px;
        }

        .form-check-input {
            margin-right: 10px;
        }


        a {
            color: orangered;
            text-decoration: none;
            font-weight: bold;
        }

    </style>
</head>
<body>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h4>Edit DiningTable</h4>

            <input type="hidden" asp-for="Id" />
            @* <div class="form-group">
                <label asp-for="BranchId" class="control-label"></label>
                <input asp-for="BranchId" class="form-control" />
                <span asp-validation-for="BranchId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="TablesId" class="control-label">Branch Name</label>
                <select asp-for="TablesId" class="form-control" asp-items="ViewBag.TablesId"></select>
                <span asp-validation-for="TablesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatNo" class="control-label"></label>
                <input asp-for="SeatNo" class="form-control" />
                <span asp-validation-for="SeatNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
           @*  <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ActiveFlag" /> @Html.DisplayNameFor(model => model.ActiveFlag)
                </label>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
                <div>
                    <a asp-action="Index">Go to Dining</a>
                </div>
        </form>
    </div>
</div>

</body>
</html>

