@model HotelBillingMVC.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/page_layout.cshtml";
    <link rel="stylesheet" href="~/css/Login.css" />
}

<h1>ForgotPassword</h1>

<h4>Usermaster</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h4 style="color:#fb5849"><center><b>Forget Password</b></center></h4>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Send Reset Link" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Login">Back to Login</a>
            </div>
        </form>
    </div>
</div>



