@model HotelBillingMVC.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/page_layout.cshtml";
    <link rel="stylesheet" href="~/css/Login.css" />

}

<h1>ResetPassword</h1>

<h4>Usermaster</h4>
<hr />

<div class="row">
    <div class="col-md-4">
<form asp-action="ResetPassword" method="post">
    <h4 style="color:#fb5849"><center><b>Reset Password</b></center></h4>
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["Success"]
                </div>
            }
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />
    <div class="form-group">
        <label asp-for="NewPassword" class="form-label">New Password</label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button><br />
            <div>
                <a asp-action="Login">Back to Login</a>
            </div>
</form>
</div>
</div>